ul{
    list-style-type: none;
    li{
        float: left;
    }
    a{
        display: inline-block;
        text-decoration: none;
        i{
            color: #262626;
            font-size: 3rem;
            margin-right: 1rem;
        }
    }
}